<!DOCTYPE html>
<html>
  <head>
    <title>Stayroom</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header>
     <%= link_to "Potepan Share", root_path, class: "header-logo" %>
      <div class = "header-link" >
      <% if user_signed_in? %>
       <%= current_user.name %>
       <div class = "dp-menu">
         <%= link_to "施設の新規登録" %>
         <%= link_to "予約済み一覧" %>
         <%= link_to "登録済み一覧" %>
         <%= link_to "アカウント設定", edit_user_password_path %>
         <%= link_to "ログアウト", destroy_user_session_path, method: :delete %>
       </div>
      <% else %>
       <%= link_to "ログイン", new_user_session_path %>
       <%= link_to "新規登録", new_user_registration_path %>
       <% end %>
      </div>
    </header>
    <%= yield %>
  </body>
</html>
